/* You can add global styles to this file, and also import other style files */
.header{
	color:#008080;
}

@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.registration_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}

@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}

.btn {
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

div.sm-jumbotron2 {
    margin: 0px;
    padding: 2 rem;
    background-color: #fff;
    color: rgb(42, 154, 230);
    padding-left: 35%;
    padding-right: 25%;
    padding-bottom: 10%;
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}

.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
/* 
button.btn-submit {
    background-color:rgb(42, 154, 230) ;
    color: #fff;
    width: 100%;
}

button.btn-submit:focus,button.btn-submit:hover {
    background-color: rgb(42, 154, 230) ;
}

div.validation-error {
    color: red;
} */

/* input.ng-invalid.ng-dirty {
    border-bottom-color: pink !important;
    box-shadow: 0 1px 0 0 pink !important;
} */

