<div class="container-fluid">
  <div class="row main-content text-center">
    <div class="col-md-12 col-xs-12 col-sm-12 registration_form">
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <h3 class="header">Signup</h3>
          </div>
          <form
            class="col s12 white sm-jumbotron2 centre-align"
            #RegistrationForm="ngForm"
            (ngSubmit)="RegisterUser(RegistrationForm.value)"
            autocomplete="off"
          >
            <div class="row">
              <div class="input-field col s6">
                <input name="UserName" required #name="ngModel" ngModel />
                <span *ngIf="name.invalid && name.touched" style="color: red"
                  >Please Enter a valid Name</span
                >
                <label class="active">User Name</label>
              </div>
              <div class="input-field col s6">
                <input
                  type="text"
                  name="Phone"
                  required
                  #PhoneNumber="ngModel"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                  minlength="10"
                  ngModel
                />
                <span
                  *ngIf="PhoneNumber.invalid && PhoneNumber.touched"
                  style="color: red"
                  >Please Enter a valid Phone Number</span
                >
                <label class="active">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input
                  type="password"
                  name="Password"
                  required
                  #Password="ngModel"
                  minlength="8"
                  ngModel
                />
                <span
                  *ngIf="Password.invalid && Password.touched"
                  style="color: red"
                  >Please Enter a valid Password</span
                >
                <label class="active">Password</label>
              </div>
              <div class="input-field col s6">
                <input
                  type="text"
                  name="Email"
                  required
                  #Email="ngModel"
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  ngModel
                />
                <span *ngIf="Email.invalid && Email.touched" style="color: red"
                  >Please Enter a valid Email</span
                >
                <label class="active">Email</label>
              </div>
            </div>

            <div class="row form-group">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="RegistrationForm.invalid"
              >
                Register
              </button>
            </div>
            <div class="row form-group">
              <p>Already registered?<a routerLink="/login"> Login here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
